.mat-stepper-horizontal {
  margin-top: 16px;
  }
  
.mat-form-field {
  margin-top: 16px;
}

.menu-container{
  padding: 8px; 
}

input {
  color: white; 
}

.button-container {
  margin-top: 16px;
  margin-bottom: 16px;
}